body {
    font-weight: 300;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
}

h1 {
    font-family: 'Staatliches', cursive;
    font-size: 2rem;
    letter-spacing: 1rem;
}

main{
    min-height: 80vh;
}

/* DEFAULT CONTAINERS */

.custom-container-8{
    max-width: 80%;
}

/* BUTTONS */

.first-btn {
    background-color: #FF9F40;
    color: #000;
    text-decoration: none;
    padding: .5rem 2rem;
    border-radius: .2rem;
    border: 1px solid transparent;
    font-weight: 400;
}

.first-btn:hover {
    color: #fff;
    background-color: #994d00;
    text-decoration: none;
}

/* BOOTSTRAP MARGIN/PADDINGS */

.mt-8 {
    margin-top: 4rem;
}

.mt-10 {
    margin-top: 5rem;
}

.mt-14 {
    margin-top: 7rem;
}

.mb-10 {
    margin-bottom: 5rem;
}

.mb-14 {
    margin-bottom: 7rem;
}

.py-10{
    padding: 5rem 0;
}

.p-10{
    padding: 5rem;
}

@media only screen and (min-width: 768px){
    .p-md-10{
        padding: 5rem!important;
    } 
}

/* HEADER + NAV */

header {
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 100;
}

header ul {
    list-style-type: none;
}

.nav-logo {
    width: 80px;
    margin: 0 1rem;
}

.nav-logo:hover {
    transform: scale(1.1)
}

.navigation {
    padding: 2rem;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0.2s ease-in-out;
    transform: translateX(100%);
}

.active .menu {
    opacity: 1;
    transform: translateX(0);
}

.nav-footer {
    font-size: 1rem;
}

.nav-header {
    font-size: 1.5rem;
}

.nav-item {
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    display: block;
}

.nav-item:hover {
    color: #FF9F40;
    text-decoration: none;
}

.nav-item:active, .menu .active, .menu .active .nav-item, .menu-bottom .active{
    color: #FF9F40;
}



.burger {
    width: 30px;
    height: 30px;
    position: relative;
}

.burger .bar {
    padding: 0;
    width: 30px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.bar1 {
    top: 0;
}

.bar2, .bar3 {
    top: 13.5px;
}

.bar3 {
    right: 0;
}

.bar4 {
    bottom: 0;
}

.close-btn {
    position: absolute;
    top: 50px;
    right: 27px;
    width: 40px;
    height: 30px;
}

.close-btn .bar {
    padding: 0;
    width: 40px;
    height: 4px;
    background-color: #fff;
    display: block;
    border-radius: 4px;
    transition: all 0.4s ease-in-out;
    position: absolute;
}

.close-btn .x1 {
    transform: rotate(45deg);
}

.close-btn .x2 {
    transform: rotate(-45deg);
}

/* Media Queries HEADER + NAV min-width 992 */

@media only screen and (min-width: 992px) {
    .menu {
        display: block;
        height: auto;
        width: auto;
        position: relative;
        background-color: none;
        padding: 0;
        opacity: 1;
        transform: none;
    }
    .navigation {
        padding: 2rem;
        flex-direction: row;
    }
    .nav-list li {
        padding-right: 2rem;
    }
    .nav-item {
        font-size: 1rem;
        display: initial;
    }
    .burger {
        display: none;
    }
    .close-btn {
        display: none;
    }
}

/* HERO */

.hero {
    text-align: center;
    margin: 5rem 0;
}

.hero h1 {
    margin-bottom: .5rem;
}

.hero .text-typing{
    font-size: 1.5rem;
    color: #FF9F40;
}

.hero-image-wrapper {
    position: relative;
}

.first-hero-img {
    width: 50%;
    margin: 0 auto;
}

.first-hero-img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.second-hero-img {
    position: absolute;
    top: 42px;
    left: 30%;
    z-index: -1;
    width: 50%
}

.second-hero-img img {
    width: 100%;
    height: auto;
    border-radius: 4px;
    filter: blur(6px);
}

/* Media Queries HERO min-width 992 */

@media only screen and (min-width: 992px) {
    .hero {
        max-width: 70%;
        margin: 9rem auto 50px auto;
        height: 700px;
    }

    .hero .text-typing{
        position: absolute;
        top: 210px;
        font-size: 2rem;
    }

    .hero h1 {
        z-index: 3;
        top: 100px;
        font-size: 5.5rem;
        letter-spacing: 1.5rem;
        position: absolute;
    }
    .first-hero-img {
        position: absolute;
        left: 25%;
        z-index: 2;
        width: 500px;
        height: 500px;
    }
    .first-hero-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 0;
        border-radius: 4px;
    }
    .second-hero-img {
        position: absolute;
        top: 130px;
        left: 35%;
        z-index: -1;
        width: 500px;
        height: 500px;
    }
    .second-hero-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 100% 0;
        filter: blur(6px);
    }
}

/* BLACKBOX ELEMENT */

.b-dark{
    background-color: #000;
}
.blackbox {
    color: #fff;
}

.box-col2 img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 100% 0;
}

.box-col1 p {
    width: 80%;
}


/* TWO-COLUMN-ELEMENT */

.column-img img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: 100% 0;
}

.column-wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.column-text {
    margin: 3rem 0;
    padding-left: 0.25rem;
}

/* NEWSLETTER FORM */
.newsletter{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

#errorMsg{
    color: red;
    margin-top: 15px;
}

/* FOOTER */

footer {
    background-color: #000;
}

.footer-bar {
    height: 100%;
    align-items: center;
}

.footer-logo img {
    width: 130px;
}

.footer-item-wrapper{
    text-align:center;
}

/* social icons */

.fa {
    color: #fff;
    padding: .75rem;
    text-decoration: none;
}

.fa:hover {
    color: #FF9F40;
}

/* Media Queries global min-width 768 */

@media only screen and (min-width: 768px) {
    .box-col2 img {
        height: 300px;
    }
}

/* ---------- */
/* GEOMETRY */
/* ---------- */

/* SUBHERO */

.subhero-image-wrapper{
    width: 100%;
    height: 30vh;
}

.subhero-image-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 10%;
}

/* SITE INNER */
.table-img{
    margin-bottom: 50px;
}

.table-img img{
    height: auto;
    width: 100%;
}

.table-wrapper{
    margin-bottom: 50px;
}

table, td {
    border: 1px solid #9b9b9b;
    border-collapse: collapse;
  }

th, td {
    padding-left: 20px;
    padding-right: 20px;
}

th, td{
    padding: 10px 20px;
}

th{
    text-align:left;
    background-color: #000;
    color: #fff;
}

#bike-geometry{
    width: 100%;
}

@media only screen and (min-width: 992px){

#bike-geometry{
    max-width: 400px;
}
}

/* ---------- */
/* OPTICS */
/* ---------- */

/* COLOR PALETTE */

.color1, .color2, .color3{
    width: 80px;
    height: 80px;
    margin-bottom: 0.5rem;
}

.color1{
    background-color: black;
}

.color2{
    background-color: blue;
}

.color3{
    background-color: yellow;
}

.damage-section .img{
    margin-bottom: 2rem;
}

.damage-section .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ---------- */
/* COMPONENTS */
/* ---------- */


.component-img{
    width: 100%;
    position:relative;
}

.component-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.component-text p{
    padding: 1.5rem;
    margin-bottom: 0;
    font-size: 0.9rem;
}

.component-layer{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #FF9F40;
    transition: .5s ease;
}

.component-inner:hover .component-layer{
    opacity: 0.5;
}

.component-inner:hover{
    transform: perspective(1000px) translate3d(0,0,20px);
    transition: .5s ease;
}

.component-inner{
    box-shadow: 2px 2px 10px gray;
    position:relative;
}

/* ---------- */
/* HISTORY */
/* ---------- */

.fact .fa{
    color: #FF9F40;
    font-size: 2rem;
}

.fact .fact-title{
    text-transform: uppercase;
    font-family: 'Staatliches', cursive;
    font-size: 1.5rem;
}

.fact.b-grey{
    background-color: #4b4b4b;
}

.fact .light{
    color: #fff;
}

.counter{
    font-size: 1.5rem;
}

.fact-items{
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

@media only screen and (min-width: 540px){
    .counter{
        font-size: 3rem;
    }
}

/* query image gallery */

.ug-thumb-wrapper.ug-tile .ug-tile-icon{
    background-color: transparent!important;
}

